<%- include('partials/header.ejs') %>
<br>
<br>
<br>


<h1>SHOPPING BAG</h1>




    <%= userDocument.name %><br>
    <%= userDocument.email %><br>
    <% let total = 0 %>
    <% for (let u of userDocument.bag) { %>
        <%= u.title %> <br>
        <%= u.color %> <br>
        <%= u.size %> <br>
        <%= u.price %> <br>
        <% total = u.price + total %>
    <% } %>
   

Total: $<%= total %> CAD

<%- include('partials/footer.ejs') %>