<%- include('partials/header.ejs') %>
<br>
<h1> this is the shopping bag area</h1>

this is where all the shopping bag items will appear: 


needs to have:
-subtotal  
- total
- shipping 
- taxes 


then I need to capture: 
credit card info and shipping address 


    <%= userDocument.name %><br>
    <%= userDocument.email %><br>
    <% let total = 0 %>
    <% for (let u of userDocument.bag) { %>
        <%= u.title %> <br>
        <%= u.color %> <br>
        <%= u.size %> <br>
        <%= u.price %> <br>
        <% total = u.price + total %>
    <% } %>
   

Total: $<%= total %> CAD

<%- include('partials/footer.ejs') %>