<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> this panties selection</h1>

    <%= p.title %><br>
    $ <%= p.price %><br>
    color: <%= p.color %><br>
    size: <%= p.size %><br>
    description: <%= p.description %><br>
    <button id='addBag'>Add to Bag</button><br>

</body>
</html>