<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The bras selection</h1>

    <%= b.title %><br>
    $ <%= b.price %><br>
    color: <%= b.color %><br>
    size: <%= b.size %><br>
    description: <%= b.description %><br>
    <button id='addBag'>Add to Bag</button><br>

</body>
</html>