<%- include('partials/header.ejs') %>

    <h1> this is the BRAS, LINGERIE, PANTIES page honayy</h1>


    <% for (let r of results) { %>
    <br>
        <% for (let p of r.picturesUrls) { %>
            <img src="<%= p %>">
        <% } %> <br>
        <a href='http://localhost:3000/<%= r.title %>'><%= r.title %><br></a>
        id:<%= r.id %><br>
        $<%= r.price %><br>
        color:<%= r.color %><br>
        <button id='addBag'>Add to Bag</button><br>
  <% } %>
  
     

<%- include('partials/footer.ejs') %>